<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Search</key>
	<dict>
		<key>SkyGo</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.skyplayer</string>
			<key>TestQueries</key>
			<array>
				<string>avatar</string>
			</array>
		</dict>
	</dict>
	<key>URL</key>
	<dict>
		<key>SkyGoLive</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>http://go.sky.com/vod/page/detachedLiveTv.do\?epgChannelId=.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
